.track{
    width: 100%;
    height: 100%;
}
.div-background{
    position: relative;
}
.car1{
    position: absolute;
    z-index: 100;
    bottom: 200px;
    animation-name: carone;
    animation-timing-function: ease-in;
    animation-duration: 3.2s;
    animation-iteration-count: infinite;
}
@keyframes carone{
    from{left: 0px;}
    to{left: 2300px;}
}
.car2{
    position: absolute;
    bottom: 400px;
    animation-name: cartwo;
    animation-timing-function: ease-in;
    animation-duration: 3.4s;
    animation-iteration-count: infinite;
}
@keyframes cartwo{
    from{left: 0px;}
    to{left: 2300px;}
    100%{}
}
.flag{
    position: absolute;
    top: 100px;
    left: 600px;
    width: 400px;
    animation-name: flag;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes flag{
    0%{transform: scaleX(-1);}
    50%{transform: scaleX(1);}
}
